titanium.platform=/Users/bill/Library/Application Support/Titanium/mobilesdk/osx/3.0.2.GA/android
android.platform=/Users/bill/android/android-sdk-macosx/platforms/android-8
google.apis=/Users/bill/android/android-sdk-macosx/add-ons/addon-google_apis-google-8
